.List {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.btn {
    height: 40px;
    background-color: rgba(255, 234, 112, 0.645);
    border-radius: 4px;
    border: 1px solid rgb(255, 234, 112);
    font-size: 1.2em;
    color: black;
    padding: 8px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}